.about {
    .clothing-info {
        display: flex;
        gap: 10%;
    }

}

.clothing-photo {
    border: solid 2px rgb(187, 185, 182)
}

table,
th,
td {
    border: 2px solid rgb(187, 185, 182);
    padding: 5px;
}


table {
    h3 {
        padding: 5px;
    }
}

.clothing-data {
    .about {
        display: flex;
        flex-direction: column;

    }
}

.clothing-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.clothing-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}




@media screen and (max-width: 880px) {

    .about {
        width: 100%;
    }

    .about {
        .clothing-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 520px) {


    .about {
        .clothing-info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 90%;
        }
    }
}