@import '~bootstrap/scss/bootstrap';


.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url("../../photo/whiteb.jpg");
    background-position: top center;
    background-size: contain;
    background-repeat: repeat;



}

.banner img {
    animation: updown 3s linear infinite;
    mix-blend-mode: color-burn;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.registration {
    color: black;
    position: relative;
    top: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;

}

.registration-title {

    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .home-page {
        height: 300px;
        background-size: 100%;
    }
}

@media screen and (max-width: 500px) {
    .home-page {
        background-size: 100%;
        background-size: cover;

    }
}