.link-list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 30px;
}

.page-header {
  display: flex;

  background-color: white;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 30px;
}

.header-title {
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  padding-left: 20px;
  text-shadow: 2px 2px burlywood;
}

.nav-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 25px;
}

.nav-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link.active {
  color: black;
  font-weight: 700;
}

.hamburger {
  width: 50px;
}

.menu-button-header {
  display: none;
}

@media screen and (max-width: 950px) {

  .page-header {
    display: flex;
    align-items: center;
  }

  .menu-button-header {
    display: inline-flex;
    background-color: white;
    border: none;
  }

  .nav-list {
    display: none;
  }
}