.about-user {
    h4 {
        margin-bottom: 3px;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
}



.contact-info {
    h4 {
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: black;
        font-style: initial;
    }
}


.clothing-link,
.order-link {
    text-decoration: none;
    color: black;
}

.clothing-link:hover,
.order-link:hover {
    font-weight: 700;
}


@media screen and (max-width: 500px) {

    .user-page {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}