.about-user {
    h4 {
        margin-bottom: 3px;
    }

    width: 50%;
}

.contact-info {
    display: flex;
    flex-direction: column;
}



.list-order-clothes {
    width: 50%;
}

.user-page {
    width: 100%;



    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        // background-image: url(../../photo/backgrou.jpg);
        width: 80%;
        position: relative;
    }

    .about-info {

        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        color: black;

    }

    .user-information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .user-info-title {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

    }

    .user-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;


    }
}



.contact-info {


    h4 {
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: black;
        font-style: initial;
    }

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 20px;

    .connection-info {
        display: flex;
        flex-direction: column;
    }
}




.clothing-link,
.order-link {
    text-decoration: none;
    color: black;
}

.clothing-link:hover,
.order-link:hover {
    font-weight: 700;
}

.clothes-title,
.order-title {
    display: flex;
    font-size: 20px;
}


@media screen and (max-width: 500px) {

    .user-page {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media screen and (max-width: 800px) {

    .user-page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}