@import '~bootstrap/scss/bootstrap';

$borderColor: rgb(187, 185, 182);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

.singer {
  width: 100%;
  height: auto;
}





input:focus,
textarea:focus,
select:focus {
  outline: none;
}




Link {
  text-decoration: none;
}

.about {
  border: 2px solid $borderColor;
  padding: 20px;
  width: fit-content;
  box-shadow: 5px 3px 3px $borderColor;
  margin-top: 20px;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 50px;
}


.form-data {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  height: fit-content;
  border: 2px solid $borderColor;
  padding: 20px;

}

.form-input {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
}

.select-el {
  width: 100%;
  border: 1px solid $borderColor;
  padding: 5px;
}



.submit-input,
.edit-data,
.delete-data {
  margin-top: 10px;
  border: 2px solid $borderColor;
  padding: 6px 15px;
  border-radius: 20px;
  background-color: white;
  text-transform: uppercase;
  margin-right: 5px;
  width: fit-content;
}

.needle {
  width: 20%;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {

  border-bottom: 2px solid $borderColor;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding: 5px;
}

label {
  margin-top: 10px;
}



.container {
  .form-data {
    border: 3px solid $borderColor;
    padding: 20px;
    width: fit-content;
  }
}

.about {
  .form-data {
    border: transparent;
    padding: 0;
    margin: 0;

  }
}

.users-link,
.clothes-link,
.delete-title,
.services-link,
.orders-link {

  text-decoration: none;
  color: black;
}

.users-link:hover,
.clothes-link:hover,
.delete-title:hover,
.services-link:hover,
.orders-link:hover {
  font-weight: 700;
}


@media screen and (max-width: 520px) {

  .users-page {

    justify-content: center;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .form-data {
    width: 100%;
  }
}