$borderColor: burlywood;

Link {
  text-decoration: none;
}

.about {
  border: 2px solid $borderColor;
  padding: 20px;
  width: fit-content;
  box-shadow: 5px 3px 3px $borderColor;
  margin-top: 20px;
}


.form-data {

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  height: fit-content;

}

.form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

}

select {
  width: 170px;
  border: 1px solid $borderColor;
  padding: 5px;
}

.submit-input,
button {
  margin-top: 10px;
  border: 2px solid $borderColor;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: white;
  text-transform: uppercase;
  margin-right: 5px;
}

input {
  width: fit-content;
  border: 1px solid $borderColor;
  padding: 5px;
}

.container {
  .form-data {
    border: 3px solid $borderColor;
    padding: 20px;
    width: fit-content;
  }
}

.about {
  .form-data {
    border: transparent;
    padding: 0;
    margin: 0;
  }
}

.users-link,
.clothes-link,
.delete-title,
.services-link,
.orders-link {

  text-decoration: none;
  color: black;
}

.users-link:hover,
.clothes-link:hover,
.delete-title:hover,
.services-link:hover,
.orders-link:hover {
  font-weight: 700;
}


@media screen and (max-width: 520px) {

  .users-page {

    justify-content: center;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}