.orders-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 0;

}

.orders-info {
    display: flex;
    width: 50%;
    margin-top: 20px;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    border-color: rgb(187, 185, 182);
    box-shadow: 5px 3px 3px rgb(187, 185, 182);

    img {
        width: 260px;

        object-fit: cover;

    }
}

.orders-page {
    display: flex;
    gap: 2%
}

.about-orders {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .orders-content {
        justify-content: center;

    }

    .orders-info {


        img {
            width: 180px;
        }
    }
}

@media screen and (max-width: 700px) {
    .about-container {
        flex-direction: column;

    }

    .orders-info {
        width: 80%;

        img {
            width: 200px;
        }

    }
}


@media screen and (max-width: 550px) {

    .orders-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .orders-info {
        width: 100%;

        img {
            width: 250px;
        }
    }
}

@media screen and (max-width: 430px) {


    .orders-info {


        img {
            width: 200px;
        }
    }
}