.orders-content {
    display: flex;
    gap: 10px;
    padding-left: 0;
}

.orders-info {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    border-color: burlywood;
    box-shadow: 5px 3px 3px burlywood;
}