.orders-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 0;

}

.orders-info {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    border-color: burlywood;
    box-shadow: 5px 3px 3px burlywood;
}

.orders-page {
    display: flex;
    gap: 2%
}

.about-orders {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .orders-content {
        justify-content: center;

    }
}

@media screen and (max-width: 700px) {
    .about-container {
        flex-direction: column;

    }

    .orders-info {
        width: 80%;
    }
}


@media screen and (max-width: 550px) {

    .orders-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .orders-info {
        width: 100%;
    }
}