.users-list {
    display: flex;
    gap: 10px;
    padding-left: 0;
}

.users-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    border-color: burlywood;
    box-shadow: 5px 3px 3px burlywood;
}



.orders {
    padding-top: 10px;
}